* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: white;
}

.resource-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.resource-item {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resource-item img {
    width: 100%;
    height: auto;
}

.resource-info {
    padding: 15px;
}

.resource-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #333;
}

.resource-desc {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.resource-link {
    display: inline-block;
    text-decoration: none;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.category-title {
    color: white;
    margin: 15px;
    letter-spacing: 1px;
    text-align: center;
}
#detailsContainer {
    color: white;
    text-align: left;
}
#detailsContainer p {
    font-size: 20px;

}




@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}
