* {
    margin: 0px;
    padding: 0px;

  }

body {
  /* background: linear-gradient(150deg, #000428, purple);  */
  background: black; 
  background: linear-gradient(150deg, #000428, hsl(273, 80%, 14%)); 
  background-repeat: repeat-y;
  height: auto;
  overflow-x: hidden;
}
/* styles.css for Navbar Start */
.navbar {
    margin-top: 5%;
    font-family: 'Arial', sans-serif;
    position: relative;
    perspective: 1000px;
  }
  
  .logo-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .navbar-brand img {
    height: 80px; /* Increase the height of the logo */
    width: auto;
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
    transform-origin: center;
    backface-visibility: hidden;
  }
  
  .nav-link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotateX(90deg);
    transition: transform 0.5s;
    transform-origin: center;
    backface-visibility: hidden;
  }
  
  .nav-link:hover {
    transform: rotateX(90deg);
  }
  
  .nav-link:hover::before {
    transform: rotateX(0deg);
  }
  
  .nav-center {
    justify-content: center; /* Center the navigation links */
    margin: 0 auto; /* Add automatic margins to center the unordered list */
  }
  
  @media (max-width: 991.98px) {
    .navbar-collapse {
      z-index: 2; /* Increase z-index to ensure links appear above the logo */
    }
  
    .logo-wrapper {
      top: 10px; /* Adjust logo position on mobile */
      transform: translateY(0);
    }
  
    .navbar-brand img {
      height: 50px; /* Adjust logo size on mobile */
    }
  }
  
  /* styles.css for Navbar End */
  
  /* styles.css for Hotline List Start */


  #hotlineList {
    margin-top: 20px;
    margin: 0px auto;
    color: white;
  }

  #hotlineTitle h2 {
    font-size: 29.5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  #hotlineName a{
    background-color:#512DA8; 
    border-bottom: 1px solid white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
  }
 
/* Heading Text */
#rainbow-heading-text {
  background-clip: text;   
  color: transparent;  
  /* Making it so that the color is transparnet so that the it shows background color not text color */
  font-size: 30px;
  opacity: 100%;
  font-weight: 700;
  letter-spacing: -1.456px;
  line-height: 112px;
  /* background-image:linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); */
  background: linear-gradient(90.05deg, rgb(181, 255, 211) 0.02%, rgb(209, 164, 255) 39.16%, rgb(255, 165, 175) 75.82%, rgb(255, 220, 164) 112%) text;
}

 /* Footer styles */
 footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  margin-top: 4rem;
  text-align: center;
  border-top: 1px solid #ddd;
}

.footer-text {
  font-size: 1.2rem;
  margin: 0;
}

.footer-text a {
  color: #fff;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) 
  {
    /* The reason for the !important is to override bootstraps classes for the dark mode*/
    body 
    {
      background-color: black !important;
    }
  }
  
